<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class=" title">
        Edit your profile
      </h1>
      <h2 class="subtitle">
        Your place to make a change!
      </h2>
    </div>
  </div>
</section>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}

{{#if message}}
<p class="notification is-success">{{message}}</p>
{{/if}}

<form class="formular" action="/editProfile" method="post">
    {{#Data}}
    <label for="firstName" class="label">First Name</label>
    <input class="input" type="text" name="firstName" value="{{name}}">
    <label for="lastName" class="label">Last Name</label>
    <input class="input" type="text" name="lastName" value="{{surname}}">
    <label for="email" class="label">Email</label>
    <input class="input" type="email" name="email" value="{{email}}">
    <label for="password" class="label">Password</label>
    <input class="input" type="password" name="password" value="">
    <label for="age" class="label">Age</label>
    <input class="input" type="number" name="age" value="{{age}}">
    <label for="city" class="label">City</label>
    <input class="input" type="text" name="city" value="{{city}}">
    <label for="url" class="label">Homepage</label>
    <input class="input" type="url" name="url" value="{{url}}">
    {{/Data}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="button is-warning cButton" type="submit" name="button">Update Profile</button>

</form>

{{#if signature}}
<img class="signatureImg" src="{{signature}}" alt="signature">

<div class="field is-grouped">
<form action="/deleteSignature" class="control" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="button is-warning cButton" type="submit" name="button">Delete Signature</button>
</form>
{{/if}}

<div class="control">
    <button id="download" class="button is-info cButton"  name="button">Download Data</button>
</div>


<form class="control" action="/deleteAccount" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="button is-danger cButton" type="submit" name="button">DELETE ACCOUNT</button>
</form>

</div>

<script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
