

<p>List of the last 20 people who signed this petition.</p>
<p>{{sumSigners}} people signed this petition so far</p>

<p>placeholder for some image</p>

<ul>
    {{#Data}}
     {{#if url}}
    <li><a href="{{url}}">{{name}} {{surname}}</a> {{age}} <a href="/petition/signers/{{city}}">{{city}}</a></li>
    {{else}}
    <li>{{name}} {{surname}} {{age}} <a href="/petition/signers/{{city}}">{{city}}</a></li>
    {{/if}}
    {{/Data}}
</ul>
